<!DOCTYPE html>
<html>
  <head>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <p>Autor: Pablo Aramburu Garcia</p>
    <p><img src='imagen.jpg' border='10' width='100' height='100'></p>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/U1td70yaoS8" frameborder="0" allowfullscreen></iframe> 
 </body>
</html>
