<form method="get" action="/quizzes?search=texto_a_buscar">
	Introduzca lo que quiere buscar:
	<input type="text" name="search" value="Texto a buscar"/>
	<input type="submit" value="Buscar">
</form>



<table>
  <% for (var i in quizzes) { %>        
     <tr>
        <td>
           <a href="/quizzes/<%= quizzes[i].id %>"><%= quizzes[i].question %></a>
        </td>
     </tr> 
  <% } %>
</table>

